.root {
  font-family: 'Mulish', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.045em;
  color: #414141;

  width: 347px;
  padding: 0 0 8px 7px;
  border-bottom: 3px solid #606060;
  background: transparent;
}