.root {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 27px;

  @media (max-width: 600px) {
    flex-flow: column nowrap;
    align-items: center;
    column-gap: 0;
    row-gap: 21px;
  }

  &__item {
    flex: 1 1 50%;
  }
}