.root {
  display: none;
  position: fixed;
  top: 50%;
  left: calc(50% - 350px / 2);
  max-width: 350px;
  padding: 40px;
  background: rgba(224, 208, 126, 0.99);
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.active {
  display: block;
}