.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 75px;
  width: 100%;
  background: #F6F3E4;
  padding: 170px calc(30px + (100 - 30) * ((100vw - 360px) / (1200 - 360)));

  @media (max-width: 1000px) {
    row-gap: 30px;
    padding: 80px calc(30px + (100 - 30) * ((100vw - 360px) / (1200 - 360)));
  }
}

.Title2 {
  max-width: 617px;
}